- var meta_title = ""
- var meta_keywords = ""

if (page.title != "")
  - meta_title = page.title + " | " + web.name;
else
  - meta_title = web.name

if (page.keywords != "")
  - meta_keywords = page.keywords + "," + web.keywords;
else
  - meta_keywords = web.keywords;

meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
title #{meta_title}
meta(name="viewport", content="width=device-width,initial-scale=1")
meta(name="description", content="#{page.description}")
meta(name="keywords", content="#{meta_keywords}")
meta(name="theme-color", content="#ffffff")
link(rel="shortcut icon" href="/img/common/icon.ico")
link(rel="apple-touch-icon" href="/img/common/app-icon.ico")
link(rel="stylesheet" href="/css/main.css")

meta(property="og:title", content="#{meta_title}")
meta(property="og:site_name", content="#{web.name}")
meta(property="og:type", content="website")
meta(property="og:description", content="#{page.description}")
meta(property="og:url", content="#{web.url}#{page.path}")
meta(property="og:image", content="#{web.url}img/common/#{meta_ogp_img}")

meta(name="twitter:card", content="summary_large_image")
meta(name="twitter:title", content="#{meta_title}")
meta(name="twitter:description", content="#{page.description}")
meta(name="twitter:image", content="#{web.url}img/common/#{meta_ogp_img}")
